*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.logo img{
    margin-left: 30px;
    width: 130px;

}

.home::before{
    content: "";
    width: 360px;
    height: 2px;
    color: #000;
    display: block;
    background: #000;
    top: 52px;
    left: 530px;
    position: absolute;
}
.nav-list{
    margin-left: 700px;
}
.nav-list ul li{
    display: inline-flex;
    list-style: none;
    margin: 20px;
    font-size: 20px;
    color: gray;
    font-weight: 800;
}
.nav-list ul li:hover{
    color: #000;
    cursor: pointer;
    /* font-size: 21px; */
    /* transform: scale(1.1); */
    transition: 0.5s ease;

}
body{
    height: 100vh;
    background-image: url("assets/pexels-rfstudio-3819572.jpg");
    background-size: 475px;
    background-color: #d0c6c60b;
    /* background-position:cover; */
    background-repeat: no-repeat;

}
.main{
    display: flex;
}
.left-box{
    width: 550px;
    height: 500px;
}
.right-box{
    width: 700px;
    height: 300px;
}
.right-box .text{
    font-size: 49px;
}
.crea{
    font-size: 120px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}
.right-box .text .ingredient{
    margin-left: 440px;
    margin-top: -80px;
    color: gray;
}
.tivity{
    margin-left: 170px;
}
.icon{
    margin-top: 20px;
    height: 300px;
}
.icon img{
    display: block;
    margin: 30px;
    width: 20px;
    /* margin-bottom: 40px; */
}
.icon img:hover{
    transform: scale(1.8);
    cursor: pointer;
    transition: 0.9s ease;
}
.btn{
    margin-left: 460px;
    margin-top: -80px;
    margin-top: 20px;
    width: 280px;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 19px;
}
.btn:hover{
    background: #fff;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
}
/* -------------------row2- */
.row2{
    display: flex;
    margin-left: 570px;
    margin-top: -290px
    /* height: 100px; */
}
.col1{
    margin-top: 110px;

}
.col1 ul li{
    color: gray;
    width: 140px;
    font-size: 20px;
    font-weight: 600;
    margin: 27px 0px;
    position: relative;
}
.col1 ul li:first-child{
    color: black;
}
ul li:after{
    content: "";
    top: 10px;
    left: -15px;
    width: 2px;
    height: 49px;
    display: block;
    background: #000;
    position: absolute;
}
ul li:last-child:after{
    display: none;
}
.txt::before{
    content:  " \❞ ";
    position: absolute;
    font-size: 65px;
    top: 360px;
}
.content{
    margin-top: 90px;
    margin-left: 70px;
}
.context h4{
    width: 200px;
    margin-left: 30px;

}
.content img{
    width: 300px;
    height: 182px;
}

.content h4{
    margin: 48px 0 10px 0;
}


.center{
    position: absolute;
    height: 180px;
    background: #000;
    width: 3px;
    display: block;
    margin-left: 210px;
    margin-top: 160px;
    /* position: absolute; */
    


}
.center::before{
    content: "";
    width: 3px;
    height: 40px;
    left: 5.5px;
    bottom: 0;
    display: block;
    color: #000;
    background: #000;
    position: absolute;
    transform: rotate(12deg);

}
.center::after{
    content: "";
    width: 3px;
    height: 40px;
    left: -5px;
    bottom: 0;
    display: block;
    color: #000;
    background: #000;
    position: absolute;
    transform: rotate(169deg);
}